body {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  /* color: #ffca5d; */
  color: #ec6e4c;
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 0;
}

img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}
.app-wrapper {
  display: block;
  margin: 30px auto;
  max-width: 600px;
}
.application {
  display: block;

  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 15px;
}

.overview {
  margin-bottom: 20px;
}

.weather-img img {
  margin-right: 20px;
  margin-bottom: 30px;
}

.temp-val {
  font-weight: 700px;
  margin-top: 10px;
  font-size: 32px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -12px;
}

.units .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}
